html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
li{
    list-style-type: none;
}
body{
    background-color: floralwhite;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
/* task 1 */
.js-country__list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 70px;
    max-width:700px;
    width: 100%;
}
.list__info{
    padding: 20px 20px;
    background-color: #fff;
    border: 1px solid crimson;
    border-right: unset ;
    width: 175px;
    text-align: center;

    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
.list__info:last-child{
    border-right: 1px solid crimson;
}
.list__number{
    font-size: 25px;
}

.list__country-UA{
    color: blue;
}
.list__country-WORLD{
    color: red;
}
.list__capital-UA{
    color: gold;
}
.list__capital-WORLD{
    color: red;
}

/* task 2 */
.js-flowers__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width:700px;
    width: 100%;
}
.flowers__list{
    font-family: 'Pacifico', cursive;
    font-size: 36px;
}
.flowers__item{
    font-size: 30px;
}
.button__info{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 40px;
}
.btn{
    padding: 20px;
    border: none;
    border-radius: 20%;
    margin-right: 10px;
    outline: unset;
    cursor: pointer;
}
.btn:last-child{
    margin-right: unset;
}
